.activity {

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }    

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
    }

    &__description {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        background: rgba(47, 48, 58, 0.8);
        padding: 27px 82px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}