a {
    transition-property: color, background-color, box-shadow, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links {
    text-decoration: none;
    color: inherit;


        &:hover,
        &:focus {
            color: var(--brand-color);
            outline: none;
        }
}