$main-font: "Roboto";
$logo-font: "Raleway";

:root {
    --brand-color: #2196f3;
    --brand-color-buttons-hover: #188ce8;
    --hero-and-footer-color: #2f303a;
    --selection-color: #badefe;
    --logo-second-color: #000;
    --logo-third-color: #fff;
}